In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
DATA_URL = "https://raw.githubusercontent.com/Yorko/mlcourse.ai/main/data/"
df = pd.read_csv(DATA_URL + "adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

1.Количество строк и столбцов

In [4]:
df.shape

(32561, 15)

Ответ: 15 столбцов

2.Есть ли пропуски в данных? Если есть, то в каких столбцах

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

Ответ: пропусков нет

3.Кол-во уникальных значений в столбце race

In [6]:
df['race'].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [7]:
len(df['race'].unique())

5

4.Медиана hours-per-week

In [8]:
df['hours-per-week']. median ()

np.float64(40.0)

Ответ: медиана 40

5. Кого больше - женщин или мужчин с ЗП >50K?

In [9]:
high_salary_df = df[df['salary'] == '>50K']

In [10]:
gender_counts = high_salary_df['sex'].value_counts()

print(gender_counts)

sex
Male      6662
Female    1179
Name: count, dtype: int64

Ответ: больше мужчин

6. Заполните пропущенные данные в отдельных столбцах наиболее встречаемыми значениями. Как еще можно было бы заполнить пропущенные данные?

Нет пропусков

Но вариант для заполнения пропусков модой (наиболее встречаемым значением)

In [14]:
df.fillna(df.mode().iloc[0], inplace=True)

Другие варианты кода

In [13]:
# пропуски можно проверить еще таким образом. True - есть пропуски, False - нет пропусков.
print(df.isnull().any())

age               False
workclass         False
fnlwgt            False
education         False
education-num     False
marital-status    False
occupation        False
relationship      False
race              False
sex               False
capital-gain      False
capital-loss      False
hours-per-week    False
native-country    False
salary            False
dtype: bool

Ответы
1. 15 столбцов
2. Пропусков нет
3. Количество уникальных значений = 5
4. Медиана = 40
5. Больше мужчин с ЗП > 50K
6. Пропусков нет, но выше написала вариант кода для заполнения пропусков